<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'foodapp/style.css' %}">
</head>
<body>
    <section style="background-color:rgb(255, 207, 207); height:100vh;">
        <div class="eat">Timimgs</div>
            <div class="timimgs">
                <h2>Monday to Friday (Weekdays)</h2>
                <ul>
                    <li>Breakfast: 7:00 AM - 9:00 AM</li>
                    <li>Mid-Morning Snack: 10:30 AM - 11:00 AM</li>
                    <li>Lunch: 12:30 PM - 2:00 PM</li>
                    <li>Evening Snack: 4:00 PM - 5:00 PM</li>
                    <li>Dinner: 7:00 PM - 9:00 PM</li>
                </ul>
            </div>

            <div class="timimgs">
                <h2>Saturday & Sunday (Weekends)</h2>
                <ul>
                    <li>Brunch (Optional): 9:30 AM - 11:30 AM (if skipping breakfast)</li>
                    <li>Lunch: 1:00 PM - 2:30 PM</li>
                    <li>Evening Snack: 4:30 PM - 5:30 PM</li>
                    <li>Dinner: 7:30 PM - 9:30 PM</li>
                </ul>
            </div>
    </section>
</body>
</html>